<!DOCTYPE html>
<html>

<head>
    <title>Pink</title>
    <link rel="stylesheet" href="../assets/styles/index.css">
</head>

<body class="bg">

    <header>
        <nav class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Roupas</a>
                    <ul>
                        <li><a href="#">Feminina </a></li>
                        <li><a href="#">Masculina</a></li>
                        <li><a href="#">Infantil</a></li>
                        <li><a href="#">Calçados </a></li>
                        <li><a href="#">Esportiva</a></li>
                        <li><a href="#">Social</a></li>
                    </ul>
                </li>
            </ul>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>

        </nav>
    </header>
</body>

<footer>
</footer>



</html>