<!DOCTYPE html>
<html>

<head>
    <title>Pink</title>
    <link rel="stylesheet" href="../assets/styles/index.css">
</head>

<body class="bg">

    <header>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Fashion</a>
                    <ul>
                        <li><a href="#">Female </a></li>
                        <li><a href="#">Male</a></li>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Shoes </a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Social</a></li>
                    </ul>
                </li>
            </ul>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
            <li><a href="">Item 4</a></li>
            <img src="../assets/img/cart-img2.png" alt="Cart"/>
        </nav>
        
    </header>
</body>

<footer>
</footer>



</html>