* {
    margin: 0;
    padding: 0;
}

body.bg {
    background-color: rgba(240, 182, 225, 0.5);
    background-image: url("");
    background-attachment: fixed;
}

nav.menu {
    position:absolute;
    width: 100%;
    background-color: black;
}

.menu li {
    float: left;
    list-style: none;
    letter-spacing: 0.2rem;
    padding-inline: 2rem;   
    font-size: 1.8rem;
    position: relative;
    
}

.menu li ul{
    position: absolute;
    display: none;
}

.menu a {
    color: rgb(211, 24, 139);
    text-decoration: none;
}

.menu li a:hover {
    background-color: rgb(221, 165, 207);
    color: white;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    background-color: black;
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}